USE [ManagementCafe]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [varchar(MAX)] NOT NULL,
	[Date] [date] NULL,
	[Discount] [int] NOT NULL,
	[Price] [decimal](10, 2) NULL,
	[TotalPrice] [decimal](10, 2) NULL,
	[Status] [bit] NULL,
	[UserID] [int] NULL,
	[PaymentMethod] [int] NOT NULL,
 CONSTRAINT [PK__Bill__11F2FC4A26C03A3B] PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[BillDetailID] [varchar(MAX)] IDENTITY(1,1) NOT NULL,
	[BillID] [varchar(MAX)] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Note] [text] NULL,
 CONSTRAINT [PK__BillDeta__793CAF75FA4B8CCC] PRIMARY KEY CLUSTERED 
(
	[BillDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[BookingID] [varchar(MAX)] NOT NULL,
	[UserID] [int] NULL,
	[BookingTime] [datetime] NULL,
	[Status] [bit] NULL,
	[NumGuests] [int] NULL,
	[Note] [text] NULL,
	[TableID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetail]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetail](
	[BookingDetailID] [varchar(MAX)] NOT NULL,
	[BookingID] [varchar(MAX)] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Category__27638D7455263785] PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartyTable]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartyTable](
	[TableID] [int] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK__PartyTab__7D5F018E5B79CBE9] PRIMARY KEY CLUSTERED 
(
	[TableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[Image] [varchar](255) NULL,
	[CateID] [int] NULL,
 CONSTRAINT [PK__Product__B40CC6ED2E4C4CB8] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/03/2025 02:44:16 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[Pass] [varchar](255) NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Users__1788CCACD5BD18E6] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillID], [Date], [Discount], [Price], [TotalPrice], [Status], [UserID], [PaymentMethod]) VALUES (1, CAST(N'2025-03-25' AS Date), 20, CAST(145000.00 AS Decimal(10, 2)), CAST(116000.00 AS Decimal(10, 2)), 1, 2, 1)
INSERT [dbo].[Bill] ([BillID], [Date], [Discount], [Price], [TotalPrice], [Status], [UserID], [PaymentMethod]) VALUES (2, CAST(N'2025-03-25' AS Date), 10, CAST(155000.00 AS Decimal(10, 2)), CAST(139500.00 AS Decimal(10, 2)), 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[BillDetail] ON 

INSERT [dbo].[BillDetail] ([BillDetailID], [BillID], [ProductID], [Quantity], [Note]) VALUES (1, 1, 9, 1, N'')
INSERT [dbo].[BillDetail] ([BillDetailID], [BillID], [ProductID], [Quantity], [Note]) VALUES (2, 1, 10, 1, N'')
INSERT [dbo].[BillDetail] ([BillDetailID], [BillID], [ProductID], [Quantity], [Note]) VALUES (3, 1, 8, 1, N'')
SET IDENTITY_INSERT [dbo].[BillDetail] OFF
GO
INSERT [dbo].[Category] ([CateID], [Name]) VALUES (1, N'Cà phê')
INSERT [dbo].[Category] ([CateID], [Name]) VALUES (2, N'Trà')
INSERT [dbo].[Category] ([CateID], [Name]) VALUES (3, N'Sinh tố')
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Status], [Image], [CateID]) VALUES (1, N'Cà phê đen', N'Cà phê nguyên chất không đường', CAST(25000.00 AS Decimal(10, 2)), N'instock', N'coffee_black.png', 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Status], [Image], [CateID]) VALUES (2, N'Cà phê sữa', N'Cà phê pha với sữa đặc', CAST(30000.00 AS Decimal(10, 2)), N'instock', N'coffee_milk.png', 1)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Status], [Image], [CateID]) VALUES (3, N'Espresso', N'Cà phê Ý nguyên chất', CAST(35000.00 AS Decimal(10, 2)), N'instock', N'espresso.png', 1)
GO
INSERT [dbo].[Users] ([UserID], [Name], [Phone], [Email], [Address], [Pass], [Role]) VALUES (1, N'Nguyễn Văn A', N'0987654321', N'nguyenvana@gmail.com', N'123 Đường ABC, TP.HCM', N'password123', N'admin')
INSERT [dbo].[Users] ([UserID], [Name], [Phone], [Email], [Address], [Pass], [Role]) VALUES (2, N'Trần Thị B', N'0912345678', N'tranthib@gmail.com', N'456 Đường XYZ, Hà Nội', N'pass456', N'staff')
INSERT [dbo].[Users] ([UserID], [Name], [Phone], [Email], [Address], [Pass], [Role]) VALUES (3, N'Lê Văn C', N'0909123456', N'levanc@gmail.com', N'789 Đường DEF, Đà Nẵng', N'securepass', N'customer')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105349FC33F9F]    Script Date: 29/03/2025 02:44:16 SA ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D105349FC33F9F] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK__Bill__UserID__45F365D3] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK__Bill__UserID__45F365D3]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetai__BillI__46E78A0C] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bill] ([BillID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetai__BillI__46E78A0C]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK__BillDetai__Produ__47DBAE45] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK__BillDetai__Produ__47DBAE45]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__TableID__48CFD27E] FOREIGN KEY([TableID])
REFERENCES [dbo].[PartyTable] ([TableID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__TableID__48CFD27E]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__UserID__49C3F6B7] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__UserID__49C3F6B7]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([BookingID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK__BookingDe__Produ__4BAC3F29] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK__BookingDe__Produ__4BAC3F29]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__CateID__4CA06362] FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__CateID__4CA06362]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK__Users__Role__4D94879B] CHECK  (([Role]='Admin' OR [Role]='Staff' OR [Role]='Customer'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK__Users__Role__4D94879B]
GO
