
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Staff/Order.css" rel="stylesheet" />
<link href="~/css/Customer/Booking.css" rel="stylesheet" />
<div>
    <div class="container" style="max-width: 100% !important; padding:0;">



        <!-- Page Header Section Start Here -->
        <section class="page-header style-2">
            <div class="container">
                <div class="page-title text-center">
                    <h3>Our Products page</h3>
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Shop Page</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <!-- Page Header Section Ending Here -->
        <!-- Shop Page Section Start Here -->
        <div class="shop-page single padding-tb bg-fa">

            <div class="table-list" style="max-width: 100% !important; height: 50px; display: flex; justify-content: center; align-items: center; background: #92d0b7">
                <h5 style="margin: 0;">Chọn bàn</h5>
            </div>

            <div class="container table-list" style="max-width: 100% !important; display: flex; flex-direction: column; align-items: center;">                           
                <div class="shop-product-wrap grid row" style="max-height: 1200px; max-width: 1200px; border-radius:10px;">
                    <!--table 1-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">01</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 1</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 2-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">02</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 2</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 3-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">03</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 3</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 4-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">04</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 4</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 5 -->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">05</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 5</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 6-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">06</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 6</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 7-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">07</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 7</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table 8-->
                    <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="~/assets/images/product/icon/booking_table.png" alt="food-product">
                                <span class="price">08</span>
                            </div>
                            <div class="product-content">
                                <div class="product-title">
                                    <h6><a href="#">Bàn số 8</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-list" style="max-width: 100% !important; height: 50px; display: flex; justify-content: center; align-items: center; background: #92d0b7;">
                <h5 style="margin: 0">Chọn món</h5>
            </div>

            <div class="container" style="max-width: 100% !important;">

                <div class="row">
                    <div class="col-2 col-sm-2 col-xl-1 category-list" style="background: white; border-radius: 0 10px 10px 0; padding: 0px 0px 10px 0; max-height: 700px; overflow-y: auto;">
                        <table class="table align-items-center table-hover table">
                            <tr>
                                <th>
                                    <p>
                                        <b style="color: #362725;">
                                            Danh mục sản phẩm
                                        </b>
                                    </p>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>
                            <tr>
                                <td>
                                    <p><a href="#">Trà sữa</a></p>
                                </td>

                            </tr>
                            </tr>



                        </table>
                    </div>
                    <div class="section-wrapper col-10 col-md-10 col-xl-7">
                        @* <div class="shop-title d-flex flex-wrap justify-content-between"> *@
                        @*     <p>Showing 01 - 12 of 139 Results</p> *@
                        @*     <div class="product-view-mode"> *@
                        @*         <a class="active" data-target="grid"><i class="icofont-ghost"></i></a> *@
                        @*         <a data-target="list"><i class="icofont-listing-box"></i></a> *@
                        @*     </div> *@
                        @* </div> *@

                        <div class="shop-product-wrap grid row" style="max-height: 700px; overflow-y: auto; border-radius:10px; margin-bottom: 10px; border-bottom: solid 2px grey;">
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/01.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/01.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/02.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/02.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/02.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/02.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/03.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/03.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/03.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/03.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/04.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/04.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/04.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/04.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/05.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/05.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/05.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/05.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/06.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/06.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/06.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/06.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/07.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/07.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/07.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/07.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/08.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/08.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/08.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/08.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/09.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/09.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/09.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/09.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/01.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/01.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/02.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/02.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/02.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/02.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/03.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/03.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/03.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/03.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/04.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/04.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/04.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/04.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/05.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/05.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/05.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/05.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/06.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/06.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/06.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/06.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/07.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/07.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/07.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/07.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/08.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/08.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/08.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/08.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/09.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/09.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/09.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/09.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/01.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/01.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/01.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-4 col-sm-4 col-4">
                                <div class="product-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/02.jpg" alt="food-product">
                                        <span class="price">$20</span>
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/02.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-list-item">
                                    <div class="product-thumb">
                                        <img src="~/assets/images/product/02.jpg" alt="food-product">
                                        <div class="product-action-link">
                                            <a href="~/assets/images/product/02.jpg" data-rel="lightcase"><i class="icofont-eye"></i></a>
                                            <a href="#"><i class="icofont-heart-alt"></i></a>
                                            <a href="#"><i class="icofont-cart-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">
                                            <span class="cat-name">Catagory Name</span>
                                            <h6><a href="#">Cream Chicken Chiladas</a></h6>
                                            <span class="price">$20</span>
                                            <div class="rating">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                            </div>
                                            <p>Assertively fabricate process-centric collaboration and idea-sharing whereas focused results. Energistically mesh clicks-and-mortar architectures with market-driven niche markets. Monotonectally redefine integrated technology for diverse intellectual capital. Energistically administrate principle-centered opportunities without customer.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* <div class="paginations">
                            <ul class="d-flex flex-wrap justify-content-center">
                                <li>
                                    <a href="#">1</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">2</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a class="dot">...</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">9</a>
                                </li>
                                <li class="d-none d-sm-block">
                                    <a href="#">10</a>
                                </li>
                                <li>
                                    <a href="#">11</a>
                                </li>
                            </ul>
                        </div> *@
                    </div>
                    <div class="col col-xl-4 choose-list" style=" border-radius: 0px; padding: 0px;">
                        <div class="table-responsive" style="height: 600px; overflow-y: auto; border-radius: 10px;">
                            <table class="table table-bordered table-striped" style=" width: 100%; margin-bottom: 0;">
                                <thead style="position: sticky; top: 0; background: #92d0b7; z-index: 2;">
                                    <tr style="border-top: none">
                                        <th >STT</th>
                                        <th >Tên món</th>
                                        <th >Số lượng</th>
                                        <th >Ghi chú</th>
                                        <th >Đơn giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>1</td><td>Trà sữa</td><td>2</td><td>Ít đường</td><td>30,000đ</td></tr>
                                    <tr><td>2</td><td>Trà đào</td><td>1</td><td></td><td>35,000đ</td></tr>
                                    <tr><td>3</td><td>Cà phê sữa</td><td>3</td><td>Không đá</td><td>25,000đ</td></tr>
                                    <tr><td>4</td><td>Nước ép cam</td><td>1</td><td>Không đường</td><td>40,000đ</td></tr>
                                    <tr><td>5</td><td>Sinh tố bơ</td><td>2</td><td>Thêm sữa đặc</td><td>45,000đ</td></tr>
                                    <tr><td>6</td><td>Soda việt quất</td><td>1</td><td>Thêm đá</td><td>30,000đ</td></tr>
                                    <tr><td>7</td><td>Sữa chua nếp cẩm</td><td>2</td><td>Không thêm đá</td><td>35,000đ</td></tr>
                                    <tr><td>8</td><td>Matcha latte</td><td>1</td><td></td><td>40,000đ</td></tr>
                                    <tr><td>9</td><td>Milo dầm</td><td>1</td><td>Nhiều milo</td><td>38,000đ</td></tr>
                                    <tr><td>10</td><td>Hồng trà sữa</td><td>2</td><td>Ít đá</td><td>32,000đ</td></tr>
                                    <tr><td>1</td><td>Trà sữa</td><td>2</td><td>Ít đường</td><td>30,000đ</td></tr>
                                    <tr><td>2</td><td>Trà đào</td><td>1</td><td></td><td>35,000đ</td></tr>
                                    <tr><td>3</td><td>Cà phê sữa</td><td>3</td><td>Không đá</td><td>25,000đ</td></tr>
                                    <tr><td>4</td><td>Nước ép cam</td><td>1</td><td>Không đường</td><td>40,000đ</td></tr>
                                    <tr><td>5</td><td>Sinh tố bơ</td><td>2</td><td>Thêm sữa đặc</td><td>45,000đ</td></tr>
                                    <tr><td>6</td><td>Soda việt quất</td><td>1</td><td>Thêm đá</td><td>30,000đ</td></tr>
                                    <tr><td>7</td><td>Sữa chua nếp cẩm</td><td>2</td><td>Không thêm đá</td><td>35,000đ</td></tr>
                                    <tr><td>8</td><td>Matcha latte</td><td>1</td><td></td><td>40,000đ</td></tr>
                                    <tr><td>9</td><td>Milo dầm</td><td>1</td><td>Nhiều milo</td><td>38,000đ</td></tr>
                                    <tr><td>10</td><td>Hồng trà sữa</td><td>2</td><td>Ít đá</td><td>32,000đ</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="price-area">
                            <button type="button" id="btnXoa">Xóa</button>
                            <button type="button" id="btnXacNhan">Xác nhận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-swoosh-up"></i></a>
    <!-- scrollToTop ending here -->



    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/fontawesome.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/progress.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/functions.js"></script>

</div>

